<h2 mat-dialog-title>Nova Tarefa</h2>

<mat-dialog-content [formGroup]="tarefaForm" class="form-wrapper">
  <div class="form-row">
    <mat-form-field appearance="fill" class="form-field">
      <mat-label>Título</mat-label>
      <input matInput formControlName="titulo" />
    </mat-form-field>

    <mat-form-field appearance="fill" class="form-field">
      <mat-label>Descrição</mat-label>
      <textarea matInput formControlName="descricao"></textarea>
    </mat-form-field>
  </div>

  <div class="form-row">
    <mat-form-field appearance="fill" class="form-field">
      <mat-label>Prioridade</mat-label>
      <mat-select formControlName="prioridade">
        <mat-option [value]="1">Baixo</mat-option>
        <mat-option [value]="2">Médio</mat-option>
        <mat-option [value]="3">Alto</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill" class="form-field">
      <mat-label>Status</mat-label>
      <mat-select formControlName="status">
        <mat-option value="Aberto">Aberto</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="cancelar()">Cancelar</button>
  <button mat-raised-button color="primary" (click)="salvar()">Salvar</button>
</mat-dialog-actions>
